<%- include('inc/header-admin.ejs') %>
<!-- Viết code màn hình tại đây -->
<main id="main" class="main">
  <main>
    <div class="container">
      <section
        class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center"
      >
        <h1>Admin</h1>
        <h2>Bắt đầu với trang quản trị của bạn</h2>

        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </section>
    </div>
  </main>

  <!-- End Page Title -->
</main>

<%- include('inc/footer.ejs') %>
